* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.nav-links a {
    margin-left: 20px;
    color: #ccc;
    text-decoration: none;
}

.hero {
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1496307042754-b4aa456c4a2d") center/cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-text h1 {
    font-size: 55px;
}

.hero-text span {
    color: #7f5af0;
}

.hero-text p {
    margin: 10px 0;
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #7f5af0;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.about, .skills, .projects, .footer {
    padding: 70px 50px;
}

.about h2, .skills h2, .projects h2, .footer h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.skill-grid {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.skill-box {
    padding: 20px;
    background: #1a1a1a;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s ease;
}

.skill-box:hover {
    background: #7f5af0;
    transform: translateY(-5px);
}

/* Projects Section */
.project-grid {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.project-card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.project-card:hover {
    background: #7f5af0;
    transform: translateY(-5px);
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.footer {
    background: #111;
    text-align: center;
}

.footer .social a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}

.copy {
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 1023px) {
    .hero-text h1 {
        font-size: 45px;
    }
    .skill-grid, .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links a {
        display: block;
        margin: 10px 0;
    }

    .hero {
        padding-left: 20px;
        text-align: center;
        justify-content: center;
    }

    .skill-grid, .project-grid {
        grid-template-columns: 1fr;
    }
}
